beautifulsoup4==4.3.2
httplib2==0.9
oauthlib==0.7.2
praw==2.1.20
rauth==0.7.1
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
static3==0.5.1
twilio==3.6.15
twython==3.2.0
update-checker==0.11
virtualenv==12.0.7
Werkzeug==0.10.1
wikipedia==1.4.0
